/* container layout */
.testimonial-container {
  display: flex;
  justify-content: center; /*better for responsive*/
  align-items: flex-start;
  gap: 25px;
  flex-wrap: wrap;
  padding: 40px 20px;
}

/* card design */
.testimonial-card {
  background: #fff;
  border-radius: 18px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.1);
  padding: 25px;
  width: 400px;
  /*text-align: center;*/
  margin-right: 40px;
  transition: 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

/* profile image */
.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #f1f1f1;
  margin-right: 20px;
}

/* heading */
.testimonial-card h3 {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.testimonial-card h4 {
  font-size: 0.9rem;
  color: gray;
  margin-bottom: 15px;
}

/* text */
.testimonial-card p {
  font-size: 18px;
  color: #444;
  font-style: italic;
}

.stars {
  font-size: 22px;
  color: #f1c40f;
}

/* underline */
.underline {
  width: 60px;
  height: 3px;
  background-color: red;
  margin: 10px auto 30px;
  border-radius: 2px;
}

/*-----RESPONSIVE-----*/

/*===medium devices===*/
@media (max-width: 900px) {
  .testimonial-card {
    width: 80%;
  }

  .profile-img {
    width: 80px;
    height: 80px;
  }

  .testimonial-card p {
    font-size: 16px;
  }
}

/*===small devices===*/
@media (max-width: 600px) {
  .testimonial-container {
    padding: 20px;
  }

  .testimonial-card {
    width: 100%;
    padding: 20px;
  }

  .profile-img {
    width: 70px;
    height: 70px;
  }
  .testimonial-card h3 {
    font-size: 1.1rem;
  }

  .testimonial-card p {
    font-size: 15px;
  }

  .stars {
    font-size: 18px;
  }
}

/*===extra small devices===*/
@media (max-width: 400px) {
  .profile-img {
    width: 60px;
    height: 60px;
  }

  .testimonial-card {
    padding: 15px;
  }

  .testimonial-card p {
    font-size: 14px;
  }
}
