.card {
  margin-bottom: 30px;
}

.card-img, .card-img-bottom, .card-img-top {
    width: 100%;
    height: 450px;
}
.titleHeading:hover {
  color: red;
  cursor: pointer;
}
.card .meta-top {
  margin-top: 20px;
  color: color-mix(in srgb, var(--default-color), transparent 40%);
}

.card .meta-top ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.card .meta-top ul li+li {
  padding-left: 20px;
}

.card .meta-top i {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  color: gray;
}

.card .meta-top a {
  color: color-mix(in srgb, var(--default-color), transparent 40%);
  font-size: 14px;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  color: gray;
}
@media (max-width: 767px) {
.card-img, .card-img-bottom, .card-img-top {
    height: auto;
}
}