
.recent-posts-widget .post-item {
  display: flex;
  margin-bottom: 15px;
}

.recent-posts-widget .post-item:last-child {
  margin-bottom: 0;
}

.recent-posts-widget .post-item img {
  width: 80px;
  margin-right: 15px;
}

.recent-posts-widget .post-item h4 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.recent-posts-widget .post-item h4 a {
    color: rgb(81, 81, 81);
    transition: 0.3s;
    text-decoration: none;
}

.recent-posts-widget .post-item h4 a:hover {
  color: rgb(243, 58, 58);
}

.recent-posts-widget .post-item p {
  display: block;
  font-style: italic;
  font-size: 14px;
  color: color-mix(in srgb, rgb(78, 78, 78), transparent 50%);
}
