.section2 {
  width: 100%;
}
.formBox input {
  width: 75%;
  height: 40px;
  margin-left: 25px;
  padding: 3px;
  border: 1px solid gray;
}
.formBox div {
  width: 13%;
  height: 40px;
  padding: 3px;
  background-color: red;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.searchBtn{
  width: 45px;  
  align-items: center;
}
.categories {
  margin: 25px 0 0 25px;
}
.categories div{
  color: gray;
}
.categories div:hover{
  color: red;
  cursor: pointer;
}
.recentPost{
  margin: 25px 0 0 25px;
}
.tags{
  margin: 25px 0 0 25px;

}
.tagsBtn .btn{
  height: 35px;
  margin: 5px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 0px;
  color: gray;
}
.btn:hover{
 color: white;
}
